body { margin: 0; background-color: #000; overflow: hidden; }
canvas { display: block; }
#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: translate(-50%, -50%);
    clip-path: polygon(45% 0%, 55% 0%, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%, 0% 45%, 45% 45%);
    pointer-events: none; /* Allows clicks to pass through to the game */
    z-index: 100;
}

#coords {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    font-family: sans-serif;
    pointer-events: none; /* Allows clicks to pass through to the 3D scene */
    z-index: 100; /* Ensures it is "above" the canvas */
}